* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #ebebeb;
}
.adaptive {
    max-width: 85%;
    margin: auto;
}
.blok_kr {
    background-color: #ffffff;
    max-width: 800px;
    padding: 431px 31px 91px 30px;
    overflow-x:hidden;
}
p {
    margin: 0 56px 0 34px;
    font-size: 24px;
}
.first_p {
    margin-bottom: 65px;
}
._second_p {
    margin-bottom: 403px;
}
.list ul {
    list-style: none;
    width: 24%;
    float:left;
}
.list:after {
    content: '';
    display: table;
    clear: both;
}
.list ul li {
    margin-bottom: 25px;
    padding-left: 26px;
    font-size: 20px;
}
ul li:first-child{
    text-align: center;
    color: #ffffff;
    padding: 13px 0 13px;
}
ul:first-of-type li:first-child{
    background-color: #1f2c39;
    border-radius: 17px 0 0 17px;
    padding-top: 12px;
}
ul:first-of-type li:not(:first-child){
    color: #1f2c39;
}
ul:first-of-type {
    border-right: 3px solid #1f2c39;
}
ul:before{
    content: "";
    display: block;
    height: 10px;
    background-color: #ffffff;
}
ul:nth-of-type(2) li:first-child{
    background-color: #03246c;
}
ul:nth-of-type(2) li:not(:first-child){
    color: #03246c;
}
ul:nth-of-type(2){
    border-right: 3px solid #03246c;
}
ul:nth-of-type(3) li:first-child{
    background-color: #028090;
}
ul:nth-of-type(3) li:not(:first-child){
    color: #028090;
}
ul:nth-of-type(3){
    border-right: 3px solid #028090;
}
ul:last-of-type li:first-child{
    background-color: #28aeaf;
    padding: 14px 0 12px;
}
ul:last-of-type li:not(:first-child){
    color: #28aeaf;
}
ul:last-of-type{
    border-right: 3px solid #28aeaf;
}